<!DOCTYPE html>
<html>
<head>
    <title>Register with Referral</title>
</head>
<body>
    <h2>Register with Referral</h2>
    <form method="post" action='register_with_referral'>
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="referrer">Referral Code</label>
        <input type="text" id="text" name="referrer" required><br>
        <button type="submit">Register with Referral</button>
    </form>
</body>
<script>
    {% if messages %}
        {% for i in messages %}
            window.alert('{{i}}')
        {% endfor %}
    {% endif %}
</script>
</html>
